# Variables de Autenticación
JWT_SECRET=escribe_aqui_cualquier_palabra_secreta

# Base de datos Supabase
SUPABASE_URL=tu_url_de_supabase_aqui
SUPABASE_ANON_KEY=tu_anon_key_de_supabase_aqui

# Correos Electrónicos
BREVO_API_KEY=tu_api_key_de_brevo_aqui

# Puerto del servidor (Opcional, por defecto 3000)
PORT=3000